* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}

.container {
    width: 75%;
    margin: 40px auto;
}

h1 {
    text-align: center;
    color: steelblue;
}

.caja {
    height: 200px;
    width: 400px;
    margin: 40px auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    background: #EFF3F5;
    box-shadow: 5px 5px 30px #333;
    
   /* flex */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: stretch;
}

form {
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #58B3F3;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 600;
    outline: none;
}

input:focus {
    border: 2px solid steelblue;
}

button {
    padding: 10px;
    border: 1px solid #58B3F3;
    border-radius: 5px;
    color: #58B3F3;
    font-size: 1.2em;
    font-weight: 600;
    outline: none;
    transition-duration: 0.4s;
}

button:hover {
    background: #58B3F3;
    color: white;
    cursor: pointer;
}

button:active {
    border: 1px solid steelblue;
}

